@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@600&display=swap');

body {
    background-color: black;
    color: whitesmoke;
    /* text-align: center; */
}

h1 {
    font-family: 'Ysabeau SC', sans-serif;
    color: whitesmoke;
    font-size: 5rem;
}
.container{
    text-align: center;
}
.rendered-tasks{
   display: inline-block;
}
.task-box{
    font-size: 2rem;
    width:500px;
    overflow-wrap: break-word;
    border: 2px solid whitesmoke;
    margin-bottom: 1rem;
    background-color: transparent;
    border-top-left-radius:8px ;
    border-top-right-radius:8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius:8px;
}
.close{
    float: right;
    margin-top: 0.5rem;
    background-color: transparent;
    color: whitesmoke;
    font-size: 1rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    text-align: center;
}

.close:hover{
    background-color: purple;
    border: 1px solid blueviolet;
}

.task-box:hover{
    width: 520px;
    padding:5px;
    border-top-left-radius:20px ;
    border-top-right-radius:20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #80008053;
    border:2px solid purple;
    box-shadow: 0 0 10px purple;
    text-shadow: 0 0 5px black, 0 0 5px black;
}

input{
    margin-top: 2rem;
    background-color: transparent;
    color:whitesmoke;
    width:250px ;
    height: 2rem;
    font-size: 1rem;
    margin-right: 20px;
}
input:focus{
    
    border: 1px solid purple;
    box-shadow: 0 0 10px purple;
    outline-offset: 0px; 
     outline: none;
    
}
.add-btn{
    background-color: transparent;
    color: whitesmoke;
    width:100px;
    height:2.4rem;
    border-radius: 5px;
    font-weight: bolder;
}
.add-btn:hover{
    outline: 2px solid purple;
    box-shadow: 0 0 200px purple;
    font-weight: 900;

}

































/* 
.task-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 40px;
    max-height: auto; */
    /* display: inline-block; */

    
/* } */

/* .task-box {
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;

    width: 500px;
    min-height: 40px;
    max-height: auto;
    border: 2px solid peachpuff;
    color: whitesmoke;
    word-wrap: break-word;

}

.close{
    position: absolute;
    left:63%;
    font-size: 1rem;
    border-radius: 50%;
} */ 










/* color:#622569 */